html{
  height: 100%;
}

body {
  background: #f8f5f4;
  /*backgraund: #f8f5f4;*/
  height: 100%;
}

#wrapper{
  position: relative;
  height:100%;
  width:100%;
}

#popup{
  text-align: center;
  /*-webkit-transform: translateX(-360px);
  transform: translateX(-360px);*/
}

.mdl-layout__drawer{
  width: 240px;
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
}

.textfield{
  margin: auto;
}

#loading{
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#loadingCircle{

}

#sliderTag{
  margin-top: 60px;
  margin-bottom: 0;
}

button img{
  height: 48px;
}

.mainBtn{
  height: 48px;
  margin-top: 5px;
}

#twitter{
  background: none;
  border: none;
}

.demo-card-wide.mdl-card {
  width: 100%;
  margin:0px auto;
  background: none;
}

#welcome_card{
  width: 95%;
  background: #fff;
  height: 100px;
  margin: 3px auto;
  padding: 0px;
  border: 1px #000 solid;
}

/*.page-content{
  width: 90%;
  clear: left;
  text-align: center;
}*/

#tweets{
  width: 95%;
  background: #fff;
  height: 176px;
  margin: 3px auto 0px;
  border: 1px #000 solid;
  padding: 0px;
}

#icon{
  height: 72px;
}

/*for PC*/
@media all and (min-width: 768px){
  .mdl-layout__drawer{
    width: 360px;
    -webkit-transform: translateX(-370px);
    transform: translateX(-370px);
  }

  /*.mdl-layout__header{
    margin-left:360px;
    width:calc(100% - 360px);
  }*/
}

@media all and (min-width: 1025px){
  .page-content{
    -webkit-transform: translateX(360px);
    transform: translateX(360px);
    width: calc(90*(100% - 360px))
  }
  /*.mdl-card{
      width: calc(100% - 360px);
      height: 176px;
  }*/
}
